@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


.container {
    display: flex;
    width: 100%;
    height: 100vh;
    border-bottom: 4px solid black;
}

.left-screen {
    width: 50%;
    height: 100vh;
    border-right: 4px solid black;
    z-index: 1000;
    font-family: 'Anton', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-screen {
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0px;
    background-image: url(../img/headphones-gc4249b19a_1920.jpg);
    background-position: center;
    background-size: cover;
}

@-webkit-keyframes sizer {
    from {font-size: 50px;}
    to {font-size: 250px;}
  }

.title-who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-who h2{
    color: #000000;
   animation-name: sizer;
   animation-duration: 1.25s;
   font-size: 250px;
}

.title-i h2{
    color: #FF9F1C;
   animation-name: sizer;
   animation-duration: 1.25s;
   font-size: 250px;
}

.title-am h2{
    color: #011627;
   animation-name: sizer;
   animation-duration: 1.25s;
   font-size: 250px;
}

.hidden {
    display: none;
}

.separation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #e0d1b6;
    border-bottom: 4px solid black;
}

.separation h3 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    border-bottom: 4px solid black;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: fle;
    height: 100vh;
    width: 100%;
    background-color: #FFFFF2;
}

.portfolio h2 {
    margin: 30px;
    font-family: sans-serif;
   font-size: 45px;
   font-weight: 700;
}

.portfolio p {
    margin: 30px;
    font-size: 15px;
   
}















