@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    border-bottom: 4px solid black;
}

.left-screen {
    width: 50%;
    height: 100vh;
    border-right: 4px solid black;
    z-index: 1000;
    font-family: 'Anton', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-screen {
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0px;
    background-image: url(../img/passions/headphones-gc4249b19a_1920.jpg);
    background-position: center;
    background-size: cover;
}

@-webkit-keyframes sizer {
    from {font-size: 50px;}
    to {font-size: 250px;}
  }

.title-who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-who h2{
    color: #000000;
   animation-name: sizer;
   animation-duration: 1.25s;
   font-size: 250px;
}

.title-i h2{
    color: #FF9F1C;
   animation-name: sizer;
   animation-duration: 1.25s;
   font-size: 250px;
}

.title-am h2{
    color: #011627;
   animation-name: sizer;
   animation-duration: 1.25s;
   font-size: 250px;
}

.hidden {
    display: none;
}

.separation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #e0d1b6;
    border-bottom: 4px solid black;
}

.separation h3 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    border-bottom: 4px solid black;
}

.separation-2 {
    background-color: #FF9F1C;
    color: #FFFFF2;
   
}

.separation-2 h3 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    border-bottom: 4px solid #FFFFF2;
}


.separation-3 {
    background-color: black;
    color: #FF9F1C;
    border-top: 4px solid #FF9F1C;
    border-bottom: 4px solid #FF9F1C; 
}

.separation-3 h3 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    border-bottom: 4px solid #FF9F1C;
}

.separation-3 h3 {
    color: #FF9F1C;
   
}

.passions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #FFFFF2;
    flex-wrap: wrap;
    border-bottom: 4px solid black;
}

.carre {
    width: 20px;
    height: 20px;
    border: 4px solid #03191E;
    border-radius: 14px;
    padding: 140px;
    margin: 50px 50px 10px 50px;
    cursor: pointer;
}

.carre-1 {
    background-image: url(../img//passions/kobe.jpg);
    background-position: center;
    background-size: 62%;
}


.carre-2 {
    background-image: url(../img/passions/space.jpg);
    background-position: center;
    background-size: 90%;
}

.carre-3 {
    background-image: url(../img/passions/root.jpg);
    background-position: center;
    background-size: 100%;
}

.carre-4 {
    background-image: url(../img/passions/mixtape.jpg);
    background-position: center;
    background-size: 100%;
}

.carre-5 {
    background-image: url(../img/passions/moovie.jpg);
    background-position: center;
    background-size: 135%;
}

.carre-6 {
    background-image: url(../img/passions/gameboy.jpg);
    background-position: center;
    background-size: 135%;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFF2;
    color: #ccc;
    padding-bottom: 30px;
}

.about-me h2 {
    font-family: 'Satisfy', cursive;
    font-size: 45px;
    color: black;
    padding: 30px;
}


.about-me p {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    width: 400px;
    color: black;
    padding: 15px;
}

.skills {
    display: flex;
    flex-direction: row;
    
}

.skill {
  background:#bfd70e;
  border-radius:50%;
  width:160px;
  height:160px;
  border:2px solid #679403; 
  margin: 15px;
}















