.project {
  &__title {
    margin: 30px auto;
    width: fit-content;
    height: fit-content;
    background-color: #cabf9d;
    font-size: 2rem;
    border-radius: 4px;
    padding: 5px;
  }

  &__card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 30px;
  }

  &__card {
    width: 350px;
    height: 230px;
    background-color: #cabf9d;
    border-radius: 14px;
  }

  &__button {
    display: flex;
    justify-content: center;
    position: relative;
    top: 70%;
    width: 100px;
    margin: auto;
    border-radius: 14px;
    background-color: rgb(85, 241, 252);
    cursor: pointer;
  }

  .defi {
    background-image: url(public/defijeune.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nissa {
    background-image: url(public/nissa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .party {
    background-image: url(public/party.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
